/* General Styles */
body {
  background-color: rgba(255, 255, 255, 0.704);
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
  background-color: black;
  color: white;
}

header {
  text-align: center;
  padding: 20px;
}

h1:hover {
  color: crimson;
  /* color when hovered */
  cursor: pointer;
  /* shows hand cursor */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #007bff;
  padding: 10px;
  gap: 20px;
  padding: 15px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffd700;
}

#theme-toggle {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#theme-toggle:hover {
  background-color: #0056b3;
}

main {
  padding: 2rem;
}

.recommendation {
  display: flex;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recommendation img {
  width: 200px;
  height: auto;
}

.recommendation div {
  padding: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #2c3e50;
  color: white;
}

/* Contact Section */
#contact {
  padding: 20px;
  background-color: #f9f9f9;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact h2 {
  text-align: center;
}

#contact form {
  display: flex;
  flex-direction: column;
}

#contact label {
  margin: 10px 0 5px;
}

#contact input,
#contact textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#contact button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#contact button:hover {
  background-color: #0056b3;
}